#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#picture {
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}

#wrong-letter-header {
  margin-top: 50px;
  font-size: x-large;
  text-decoration: underline;
  text-decoration-color: pink;
}

#wrong-letter-div {
  letter-spacing: 1.5em;
  font-size: large;
  color: rgba(228, 45, 45, 0.76);
  font-weight: bold;
}

#underscoreDiv {
  margin-top: 50px;
  font-size: x-large;
}